/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* Rooted colors for applying changes generally */
:root{
    --background-color: #032154;
    --color: #f2db18;
    --color2: #323639;
}

html{
    scroll-behavior: smooth;
}

/* Top bar for language change and social media icons */

    .menu{
        display: none;
    }

    .exit-btn{
        display: none;
    }
    
.wrap{
    background-color: #032154;

.container{
    width: 85%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    header{

        .language{
            display: flex;

        
            .lang{
                font-weight: bold;

                    .globe{
                        width: 1em;
                         margin-right: .3em

                    }

            }
                
        }
    }

    label{
        font-size: 1em;
    }
}
}

.flag{
    width: 1em;
    margin-left: .5em;
}

.lang-selection{
    margin-left: .3em;

    select{
        border-bottom: none;
        border-top: none;
        border: transparent;
    }
}

.smicon{
    .fa{
        color: white;
        padding-right: .2em;
        font-size: 1.4rem;
    }
}

/* Contact us email, companys name and phone number*/
.container{
    width: 85%;
    margin: 0 auto;
    
    .sub-container{
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 2em 0;
        margin: 1em;
        .phone{
            text-decoration: none;
            color: black;
            font-weight: bolder;
            font-size: 1rem;
            transition: .3s ease-in;

            &:hover{
                text-decoration: underline;
                color: var(--color);
            }

            img{
                width: 1em;
            }
        }
    }
}

.center{
    font-size: 2rem;
    color: var(--color);
}

.Mail{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    transition: .3s ease-in;


    &:hover{
        text-decoration: underline;
        color: var(--color);
    }
    
    img{
        width: 1em;
    }
}



/* Navigation bar section */

.fluid-container{
    background-color: var(--background-color);
    height: auto;
    .container{
        width: 85%;
        margin: 0 auto;
        .pre-nav{
            display: flex;
            justify-content: space-between;

            nav{
                ul{
                    display: flex;
                    justify-content: space-between;

                    li{
                        list-style-type: none;
                        margin: 0;

                        a{
                            color: white;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: bold;
                            display: block;
                            padding: 1.7em;

                            &:hover{
                                background-color: var(--color);
                            }


                        }
                    }
                }
            }

        }
    }
}


.Active{
    background-color: var(--color);
}


/* Navigation bar - search section */
.search{
    padding: 1.5em;

    .fa{
        color: white;
        padding-right: 2em;
        font-size: 1.4rem;
        margin: 0;
    
    }

    a{
        color: white;
        text-decoration: none;


    }
}

.signup{
    border: 1px solid var(--color);
    background-color: var(--color);
    padding: .8em 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1em;
    transition: .5s ease-in-out;

    &:hover{
        background-color: #000;
        border: 1px solid var(--background-color);

    }
}


/* Banner with image */

.banner{
        background: url(../IMG/banner.jpg);
    .container{

        .pre-container{
            display: flex;
            justify-content: space-between;

            .hero{
                margin-top: 6em;
                color: white;
                font-size: 1.8rem;
                width: 21em;

                .subhead{
                    font-size: 1.5rem;
                    padding: .4em 0;
                    color: var(--color);
                    font-weight: bold;
                }
            }

        }
    }
}

    .subhead-1{
        font-size: 1rem;
        padding: .4em 0;
    }

    h5{
        padding: 2em 0; 
        display: flex;
        justify-content: left;
        align-items: center;

        &::before{
            content: '';
            position: absolute;
            border-right: 1px solid var(--color);
            border-width: 4em;
            height: .06em;
            width: 6em;
        }
    }


/* About Section */

section{
    .container{
        .flex-container{
            display: flex;
            justify-content: space-between;
            margin-top: 6em;

            .about{
                h4{
                    text-transform: uppercase;
                    color: var(--color);
                    padding-top: 1em;
                    padding-bottom: .7em;
                }

                .business{
                    text-transform: uppercase;
                    color: var(--background-color);
                    font-size: 2.5rem;
                    line-height: 2.8rem;
                
                }
                
                .everything{
                    text-transform: uppercase;
                    margin: 1.3em 0;
                    font-size: 1.4rem;
                }
                
                .mission{
                    color: var(--color);
                    text-transform: uppercase;
                    font-weight: bold;
                    line-height: 1.8rem;
                    margin: 1.4em 0;
                    width: 500px;
                }
                
                .mission1{
                    line-height: 2rem;
                    margin-bottom: 3em;
                }

                .links{
                    display: flex;
                    align-items: center;
                
                    p{
                        text-transform: uppercase;
                        font-weight: bold;
                        color: var(--color); 
                        padding-right: 3em;
                    }  
                        
                        a{
                            color: white;
                            border: 1px solid --color;
                            background-color: var(--color);
                            padding: 1em;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: bold;
                            transition: .2s ease-in-out;
                
                            &:hover{
                                background-color: black;
                            }              
                        }
                }

            }

            .about-img{
                img{
                    position: relative;
                    right: 0;
                    width: 32em;
                    padding-left: 4em;
                }
            }
            
        }
    }
}

/* Services  */
section{
    .container{
        .grid-heading{
            .service-txt{
                padding-top: 7em;
                padding-bottom: .3em;
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--color);
            }

            .business2{
                text-transform: uppercase;
                font-size: 2.4rem;
                width:18em;
                color:var(--background-color);
                padding-bottom: 2em;
            }
        }

        .grid-content{
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 3;
            padding-bottom: 2.5em;

            .grid-item{
                padding-bottom: 2em;
                color: var(--color2);
                width: 19rem;

                img{
                    padding-bottom: 1em;
                }
                    h4{
                        text-transform: uppercase;
                        padding-bottom: .5em;
                        border-bottom: 1px solid var(--color2);
                        border-width: .2rem;
                        width: 13em;
                    }

                    .service-par{
                        padding-top: 1em;
                        line-height: 2rem;

                    }
            }
        }

        .read{
            color: var(--color);
            font-size: 1.7rem;
            padding-bottom: 2em;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before{
                content: '';
                position: absolute;
                border-right: 1px solid var(--color);
                border-width: 7rem;
                width: 20rem;
                height: .2rem;
            }
        }
    }

}


/* Portfolio sections */
section{
    .container{
        .portfolio-item{
            .porttxt1{
                color: var(--color);
                text-transform: uppercase;
                font-size: 1rem;
            }
            .porttxt2{
                 padding-top: .4em;
                 text-transform: uppercase;
                 font-size: 2.5rem;
                 text-align: left;
             }
             .porttxt3{
                padding-top: .4em;
                font-size: 1rem;
                padding-bottom: 1.5rem;
             }

             p{
                 color: var(--color2);
                 font-size: 1rem;
                 line-height: 2rem;
             }

             .slide-container{
                 display: grid;
                 grid-template-columns: repeat(4, auto);
                 column-gap: 1.2em;
                 padding-top: 2em;
             }
        }
    }
}

section{
    .container{
        .award_text{
            h3{
                color: var(--color);
                text-transform:uppercase ;
                padding-top: 7em;
                padding-bottom: .3em;
            }

            h1{
                text-transform: uppercase;
                font-size: 2.5rem;
                padding-bottom: .7em;
            }

            p{
                color: var(--color2);
                font-size: 1.2rem;
            }
        }

        .award_img{
            display: flex;
            justify-content: space-between;
            
            .img{
                padding: 3em 0;
                display: flex;
                justify-content: space-between;

                                     
                .txt{   
                    padding-left: 1em;
                    color: var(--background-color);

                    h3{
                        font-size: 2.5rem;
                    }

                    p{
                    color: var(--color);
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-weight: bold;
                    }
                }
            } 
        }
    }

    .aware-read{
        color: var(--color);
        font-family: Arial;
        font-weight: normal;
        font-size: 1.5rem;
        padding-right: 2em;
        margin: 2em 0;
        display: flex;
        align-items: center;

        &::before{
            content: '';
            position: absolute;
            height: .06em;
            border-right: 1px solid var(--color);
            border-width: 8rem;
            width: 6em;
            

        }
    }

        
}
    
/* Team Members of the organization */
section{
    .container{
        .team-text{
            h3{
                text-transform: uppercase;
                color: var(--color);
                padding-bottom: .6em;
                padding-top: 3em;
            }

            h1{
                text-transform: uppercase;
                font-size: 2rem;
                padding-bottom: 1.5em;
            }
        }

        .team-member{
            display: flex;
            justify-content: space-between;

            .team1{
                display: inline-flex;

                img{
                    border: 1px solid rgb(201, 201, 201);
                    border-radius: 50%;
                    border-width: 1rem;

                    &:hover{
                        border: 1px solid var(--color);
                        border-width: 1rem;
                        border-radius: 50%;


                    }
                }
            }
        }
    }
}












/* Testimony */
section{
    .pre-container{
        width: 50%;
        margin: 0 auto;
        h3{
            text-transform: uppercase;
            color: var(--color);
            font-weight: .4rem;
            padding-top: 5em;
            text-align: center;
        }

        h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 2em;
            padding-top: .4em;
            font-weight: bold;
            padding-bottom: 2em;
        }

        p{
            border: 1px solid var(--color);
            line-height: 1.8rem;
            padding: 1.3em;
            color: var(--color2);
        }

        blockquote{
            text-transform: uppercase;
            color: var(--color);
            font-weight: bold;
            font-size: 1.5rem;
            display: block;
            img {
                padding-top: 2em;
                width: auto;
                }
        }

    }
}

/* Contact section */
section{
    .container{
        .contact-txt{
            padding-top: 5em;
            padding-bottom: .5em;
            text-transform: uppercase;
            color: var(--color);
            text-align: center;
        }

        h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 2.2rem;
            padding-bottom: 2em;
        }

        form{   
            input, textarea{
               display: block;
               margin: 0 auto;
               width: 40rem;
               border-top: none;
               border-right: none;
               border-left: none;
               border-bottom: 1px solid var(--background-color);
               padding: 1em  .2em .7em .2em;   
               background: transparent;   
               font-size: 1.6rem; 

               &:focus{
                   outline: none;
               }
            }

            textarea{
                padding-bottom: 1em;
            }

            ::placeholder{
                font-size: 1.2rem;
            }

            a{
                display: block;
                margin: auto;
                margin-top: 1em;
                text-decoration: none;
                color: white;
                border: 1px solid var(--color);
                background-color: var(--color);
                padding: 1em;
                width: 12rem;
                text-align: center;
                border-radius: 1rem;
                font-size: 1.3rem;
                transition: .3s ease;

                &:hover{
                    background-color: var(--background-color);
                    border: 1px solid var(--background-color);
                }

            }
        }
    }
}

/* footer */

footer{
    margin-top: 4em;

    .footer-background{
        background-image: url(../IMG/footer_bg.jpg);
        height: 30em;
    }
        .footer-container{
            width: 85%;
            margin: 0 auto;
            color: white;
            
            .row{
                padding-top: 4em;
                padding-bottom: 1em;
                font-family: Trebuchet MS;
                font-size: 1.4rem;
            }

            .column-flex{
                display: flex;
                justify-content: space-between;

                .columns{
                    width: 26em;

                    h4{
                        font-size: 1.4em;
                    }

                    ul{
                        display: flex;
                        justify-content: space-between;
                        list-style-type: none;
                        padding-bottom: 1.5em;

                        li{
                            font-size: 1.1rem;
                            a{
                                line-height: 3rem;
                                .fa{
                                    display: block;
                                    font-size: 1.6rem;
                                    color: white;
                                    padding-top: 1.3em;
                                    text-decoration: none;
                                    padding-bottom: 1rem;
                                }
                            }
                        }
                    }

                    .socialicon{
                        .fa{
                            font-size: 2rem;
                            border: 1px solid white;
                            border-radius: 45%;
                            padding: .3em;
                            background-color: white;
                            color: var(--background-color);
                            margin-right: .4em;
                            transition: .4s ease-in-out;

                            &:hover{
                                background-color: var(--color);
                                border: 1px solid var(--color);
                                color: white;
                            }
                        }


                            .fa-facebook{
                                border-radius: 50%;
                                padding: .3em .5em;
                            }
                        
                    }
                }

                .column{
                    h4{
                        font-size: 1.4em;
                    }
                    ul{
                        list-style-type: none;
                        padding-top: 1.1em;

                        li{
                            display: block;
                            padding-top: 1em;

                            a{
                                color: white;
                                text-decoration: none;
                                transition: .4s ease-in;

                                &:hover{
                                    color: #323639;
                                }
                            }
                        }
                    }
                }
            }

            .column-news{
                width: 17em;
                display: block;

                h4{
                    font-size: 1.4em;
                    padding-bottom: 1.4em;
                }

                input{
                    width: 20em;
                    height: 3em;
                    border: 1px solid white;
                    border-radius: .7rem;
                    border-color: white;
                    font-size: 1rem;

                    &:focus{
                        outline: none;
                    }
                }

                    ::placeholder{
                        font-size: 1rem;
                        color: #323639;
                        border-color: white;
                    }

                    a{
                        display: block;
                        color: white;
                        text-decoration: none;
                        margin-top: 1em;
                        margin-right: 8em;
                        padding: 1em;
                        text-align: center;
                        border: 1px solid var(--color);
                        background-color: var(--color);
                        border-radius: .7rem;
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: bold;
                        transition: .4s ease-in-out;

                        &:hover{
                            background-color: black;
                            border: 1px solid black;

                        }
                    }
            }
        } 
}


    .footer{
        width: auto;
        height: 3rem;
        color: var(--background-color);
        font-size: 1.2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a{
            text-decoration: none;
            color: var(--background-color);
            transition: .3s ease-in-out;

            &:hover{
                color: white;
            }
        }
    }